<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cfg.base.mapper.CommonEmpMapper">
    
    <resultMap type="com.ruoyi.common.core.domain.entity.CommonEmp" id="CommonEmpResult">
        <result property="empId" column="emp_id"/>
        <result property="empCode" column="emp_code"/>
        <result property="empName" column="emp_name"/>
        <result property="empType" column="emp_type"/>
        <result property="parentId" column="parent_id"/>
        <result property="ancestors" column="ancestors"/>
        <result property="orderNum" column="order_num"/>
        <result property="status" column="status"/>
        <result property="delFlag" column="del_flag"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="xzqhCode" column="xzqh_code"/>
        <result property="addr" column="addr"/>
        <result property="inviteCode" column="invite_code"/>
    </resultMap>

    <sql id="selectCommonEmpVo">
        select emp_id, emp_code, emp_name, emp_type, parent_id, ancestors, order_num, status, del_flag, create_by, create_time, update_by, update_time,xzqh_code, addr, invite_code   from bas_common_emp
    </sql>

    <select id="selectByEntity" parameterType="com.ruoyi.common.core.domain.entity.CommonEmp" resultMap="CommonEmpResult">
        <include refid="selectCommonEmpVo"/>
        <where>  
            <if test="empCode != null  and empCode != ''"> and emp_code = #{empCode}</if>
            <if test="empName != null  and empName != ''"> and emp_name like concat('%', #{empName}, '%')</if>
            <if test="parentId != null "> and parent_id = #{parentId}</if>
            <if test="ancestors != null  and ancestors != ''"> and ancestors = #{ancestors}</if>
            <if test="orderNum != null "> and order_num = #{orderNum}</if>
        </where>
    </select>

    <update id="updateDelFlagByIds">
        update bas_common_emp set del_flag="1"
        <where>
            id in <foreach collection="ids" open="(" item="it" close=")" separator=",">#{it}</foreach>
        </where>
    </update>

    <insert id="insertEmp" parameterType="com.ruoyi.common.core.domain.entity.CommonEmp" useGeneratedKeys="true" keyProperty="empId">
        insert into bas_common_emp(
        <if test="empId != null and empId != 0">emp_id,</if>
        <if test="empCode != null and empCode != ''">emp_code,</if>
        <if test="empName != null and empName != ''">emp_name,</if>
        <if test="empType != null and empType != ''">emp_type,</if>
        <if test="parentId != null and parentId != 0">parent_id,</if>
        <if test="ancestors != null and ancestors != '' ">ancestors,</if>
        <if test="orderNum != null and orderNum != 0">order_num,</if>
        <if test="status != null and status != ''">status,</if>
        <if test="delFlag != null and delFlag != ''">del_flag,</if>
        <if test="createBy != null">create_by,</if>
        <if test="xzqhCode != null">xzqh_code,</if>
        <if test="addr != null">addr,</if>
        <if test="inviteCode != null">invite_code,</if>
        create_time
        )values(
        <if test="empId != null and empId != 0">#{empId},</if>
        <if test="empCode != null and empCode != ''">#{empCode},</if>
        <if test="empName != null and empName != ''">#{empName},</if>
        <if test="empType != null and empType != ''">#{empType},</if>
        <if test="parentId != null and parentId != 0">#{parentId},</if>
        <if test="ancestors != null and ancestors != '' ">#{ancestors},</if>
        <if test="orderNum != null and orderNum != 0">#{orderNum},</if>
        <if test="status != null and status != ''">#{status},</if>
        <if test="delFlag != null and delFlag != ''">#{delFlag},</if>
        <if test="createBy != null">#{createBy},</if>
        <if test="xzqhCode != null">#{xzqhCode},</if>
        <if test="addr != null">#{addr},</if>
        <if test="inviteCode != null">#{inviteCode},</if>
        sysdate()
        )
    </insert>
</mapper>
