<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cfg.base.mapper.ErpColorMapper">
    
    <resultMap type="ErpColor" id="ErpColorResult">
        <result property="id" column="id"/>
        <result property="colorCode" column="color_code"/>
        <result property="colorName" column="color_name"/>
        <result property="empId" column="emp_id"/>
        <result property="seqno" column="seqNo"/>
        <result property="creater" column="creater"/>
        <result property="createTime" column="create_time"/>
        <result property="updater" column="updater"/>
        <result property="updateTime" column="update_time"/>
        <result property="dr" column="dr"/>
    </resultMap>

    <sql id="selectErpColorVo">
        select id, color_code, color_name, emp_id, seqNo, creater, create_time, updater, update_time, dr  from erp_color
    </sql>

    <select id="selectByEntity" parameterType="ErpColor" resultMap="ErpColorResult">
        <include refid="selectErpColorVo"/>
        <where>  
            <if test="colorCode != null  and colorCode != ''"> and color_code = #{colorCode}</if>
            <if test="colorName != null  and colorName != ''"> and color_name like concat('%', #{colorName}, '%')</if>
            <if test="empId != null "> and emp_id = #{empId}</if>
            <if test="seqno != null "> and seqNo = #{seqno}</if>
            <if test="creater != null "> and creater = #{creater}</if>
            <if test="updater != null "> and updater = #{updater}</if>
            <if test="dr != null "> and dr = #{dr}</if>
        </where>
    </select>

    <update id="updateDelFlagByIds">
        update erp_color set del_flag=1
        <where>
            id in <foreach collection="ids" open="(" item="it" close=")" separator=",">#{it}</foreach>
        </where>
    </update>
</mapper>
