<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cfg.base.mapper.ErpProColorMapper">
    
    <resultMap type="com.cfg.base.domain.ErpProColor" id="ErpProColorResult">
        <result property="id" column="id"/>
        <result property="proId" column="pro_id"/>
        <result property="empId" column="emp_id"/>
        <result property="colorId" column="color_id"/>
        <result property="colorCode" column="color_code"/>
        <result property="colorName" column="color_name"/>
        <result property="seqno" column="seq_no"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="delFlag" column="del_flag"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time" />
    </resultMap>

    <sql id="selectErpProColorVo">
        select id, pro_id, emp_id, color_id, color_code, color_name, seq_no, create_by, create_time, update_by, update_time, del_flag   from erp_pro_color
    </sql>

    <select id="selectByEntity" parameterType="com.cfg.base.domain.ErpProColor" resultMap="ErpProColorResult">
        <include refid="selectErpProColorVo"/>
        <where>  
            <if test="proId != null "> and pro_id = #{proId}</if>
            <if test="colorCode != null  and colorCode != ''"> and color_code = #{colorCode}</if>
            <if test="colorName != null  and colorName != ''"> and color_name like concat('%', #{colorName}, '%')</if>
        </where>
    </select>

    <update id="updateDelFlagByIds">
        update erp_pro_color set del_flag=1
        <where>
            id in <foreach collection="ids" open="(" item="it" close=")" separator=",">#{it}</foreach>
        </where>
    </update>
    <delete id="deleteByProIds">
        delete from erp_pro_color
        <where>
            pro_id in <foreach collection="ids" open="(" item="it" close=")" separator=",">#{it}</foreach>
        </where>
    </delete>
</mapper>
