<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cfg.base.mapper.ErpProPriceMapper">
    
    <resultMap type="ErpProPrice" id="ErpProPriceResult">
        <result property="id" column="id"/>
        <result property="proid" column="proId"/>
        <result property="stepid" column="stepId"/>
        <result property="sizeid" column="sizeId"/>
        <result property="empId" column="emp_id"/>
        <result property="price" column="price"/>
        <result property="creater" column="creater"/>
        <result property="createTime" column="create_time"/>
        <result property="updater" column="updater"/>
        <result property="updateTime" column="update_time"/>
        <result property="dr" column="dr"/>
    </resultMap>

    <sql id="selectErpProPriceVo">
        select id, proId, stepId, sizeId, emp_id, price, creater, create_time, updater, update_time, dr  from erp_pro_price
    </sql>

    <select id="selectByEntity" parameterType="ErpProPrice" resultMap="ErpProPriceResult">
        <include refid="selectErpProPriceVo"/>
        <where>  
            <if test="proid != null "> and proId = #{proid}</if>
            <if test="stepid != null "> and stepId = #{stepid}</if>
            <if test="sizeid != null "> and sizeId = #{sizeid}</if>
            <if test="empId != null "> and emp_id = #{empId}</if>
            <if test="price != null "> and price = #{price}</if>
            <if test="creater != null "> and creater = #{creater}</if>
            <if test="updater != null "> and updater = #{updater}</if>
            <if test="dr != null "> and dr = #{dr}</if>
        </where>
    </select>

    <update id="updateDelFlagByIds">
        update erp_pro_price set del_flag=1
        <where>
            id in <foreach collection="ids" open="(" item="it" close=")" separator=",">#{it}</foreach>
        </where>
    </update>
</mapper>
