<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cfg.base.mapper.ErpProBatchExeMapper">
    
    <resultMap type="com.cfg.base.domain.ErpProBatchExe" id="ErpProBatchExeResult">
        <result property="id" column="id"/>
        <result property="batchId" column="batch_id"/>
        <result property="stepId" column="step_id"/>
        <result property="makeStatus" column="make_status"/>
        <result property="realMakeNum" column="real_make_num"/>
        <result property="empId" column="emp_id"/>
        <result property="scanBy" column="scan_by"/>
        <result property="scanTime" column="scan_time"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="salary" column="salary"/>
        <result property="delFlag" column="del_flag"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time" />
    </resultMap>

    <sql id="selectErpProBatchExeVo">
        select id, batch_id, step_id, make_status, real_make_num, emp_id, scan_by, scan_time, create_by, create_time, update_by, update_time, salary, del_flag   from erp_pro_batch_exe
    </sql>

    <select id="selectByEntity" parameterType="com.cfg.base.domain.ErpProBatchExe" resultMap="ErpProBatchExeResult">
        <include refid="selectErpProBatchExeVo"/>
        <where>  
            <if test="batchId != null "> and batch_id = #{batchId}</if>
            <if test="stepId != null "> and step_id = #{stepId}</if>
            <if test="makeStatus != null  and makeStatus != ''"> and make_status = #{makeStatus}</if>
            <if test="realMakeNum != null "> and real_make_num = #{realMakeNum}</if>
            <if test="empId != null "> and emp_id = #{empId}</if>
            <if test="scanBy != null "> and scan_by = #{scanBy}</if>
            <if test="scanTime != null "> and scan_time = #{scanTime}</if>
            <if test="salary != null "> and salary = #{salary}</if>
            <if test="delFlag != null "> and del_flag = #{delFlag}</if>
        </where>
    </select>

    <update id="updateDelFlagByIds">
        update erp_pro_batch_exe set del_flag=1
        <where>
            id in <foreach collection="ids" open="(" item="it" close=")" separator=",">#{it}</foreach>
        </where>
    </update>

    <!-- 根据生产id查询扫菲记录 -->
    <select id="selectByProMakeId" parameterType="com.cfg.base.domain.ErpProBatchExe" resultMap="ErpProBatchExeResult">
        select a.* from erp_pro_make_batch a, erp_pro_batch_exe b where a.id=b.batch_id and a.pro_make_id=#{proMakeId}
    </select>

    <!-- 根据生产id集合查询扫菲记录 -->
    <select id="selectByProMakeIds"  resultMap="ErpProBatchExeResult">
        select  b.*  from erp_pro_make_batch a,erp_pro_batch_exe b
                     where b.batch_id =a.id and a.pro_make_id
                     in
                <foreach collection="proMakeIds" open="(" item="it" close=")" separator=",">
                                        #{it}
                </foreach>
    </select>

    <!-- 查询扫菲记录并计算工资 -->
    <select id="selectScanRcdList" parameterType="com.cfg.base.pojo.dto.ErpProBatchExeDTO" resultType="com.cfg.base.pojo.dto.ErpProBatchExeDTO">
        select m.*,n.user_name ,k.step_name,t.proName  from (
                                                      select d.*,e.price,d.real_make_num * ifnull(e.price,0) wksalary,DATE_FORMAT(d.scan_time,'%Y%m%d') scan_day ,DATE_FORMAT(d.scan_time,'%Y%m') scan_month, DATE_FORMAT(d.scan_time,'%Y') scan_year from (
                                                               select b.*,a.pro_id ,a.size_id,a.size_name,a.color_id,a.color_name  from  erp_pro_make_batch a,erp_pro_batch_exe b where a.id =b.batch_id and a.emp_id=#{batchExeDTO.empId}
                                                                    <if test="scanBy != null "> and b.scan_by = #{batchExeDTO.scanBy}</if>                                                                                                                                                                                                                                                                                                               ) d left join erp_pro_price e on d.pro_id=e.pro_id and d.size_id=e.size_id  and d.step_id=e.step_id
                                                  ) m left join sys_user n on m.scan_by=n.user_id left join erp_pro_process k on m.step_id =k.id left join erp_pro t on m.pro_id=t.id
        <where>
            <if test="batchExeDTO.scanDay != null "> and m.scan_day = #{batchExeDTO.scanDay}</if>
            <if test="batchExeDTO.scanMonth != null "> and m.scan_month = #{batchExeDTO.scanMonth}</if>
            <if test="batchExeDTO.scanYear != null "> and m.scan_year = #{batchExeDTO.scanYear}</if>
            <if test="batchExeDTO.userName != null "> and n.user_name like concat('%',#{batchExeDTO.userName},'%')</if>
            <if test="batchExeDTO.startDay != null and  batchExeDTO.endDay != null "> and (m.scan_day &gt;= #{batchExeDTO.startDay} and m.scan_day &lt;= #{batchExeDTO.endDay})</if>
        </where>
        order by m.scan_time desc
    </select>

    <!-- 月工资查询 -->
    <select id="selectSalaryMonth" parameterType="com.cfg.base.pojo.dto.ErpProBatchExeDTO" resultType="com.cfg.base.pojo.dto.ErpProBatchExeDTO">
        select m.scan_month,n.user_name,sum(m.real_make_num) real_make_num,sum(m.wk_salary) wk_salary  from (
        select d.*,e.price,d.real_make_num * ifnull(e.price,0) wk_salary,DATE_FORMAT(d.scan_time,'%Y%m%d') scan_day ,DATE_FORMAT(d.scan_time,'%Y%m') scan_month, DATE_FORMAT(d.scan_time,'%Y') scan_year from (
        select b.*,a.pro_id ,a.size_id,a.size_name,a.color_id,a.color_name  from  erp_pro_make_batch a,erp_pro_batch_exe b where a.id =b.batch_id and a.emp_id=#{batchExeDTO.empId}
        <if test="scanBy != null "> and b.scan_by = #{batchExeDTO.scanBy}</if>                                                                                                                                                                                                                                                                                                               ) d left join erp_pro_price e on d.pro_id=e.pro_id and d.size_id=e.size_id  and d.step_id=e.step_id
        ) m left join sys_user n on m.scan_by=n.user_id left join erp_pro_process k on m.step_id =k.id
        <where>
            <if test="batchExeDTO.scanDay != null "> and m.scan_day = #{batchExeDTO.scanDay}</if>
            <if test="batchExeDTO.scanMonth != null "> and m.scan_month = #{batchExeDTO.scanMonth}</if>
            <if test="batchExeDTO.scanYear != null "> and m.scan_year = #{batchExeDTO.scanYear}</if>
            <if test="batchExeDTO.userName != null "> and n.user_name like concat('%',#{batchExeDTO.userName},'%')</if>
            <if test="batchExeDTO.startDay != null and  batchExeDTO.endDay != null "> and (m.scan_day &gt;= #{batchExeDTO.startDay} and m.scan_day &lt;= #{batchExeDTO.endDay})</if>
        </where>
       group by m.scan_month,n.user_name,m.scan_by
       order by  m.scan_month desc
    </select>

    <!-- 日工资查询 -->
    <select id="selectSalaryDay" parameterType="com.cfg.base.pojo.dto.ErpProBatchExeDTO" resultType="com.cfg.base.pojo.dto.ErpProBatchExeDTO">
        select m.scan_day,n.user_name,sum(m.real_make_num) real_make_num,sum(m.wk_salary) wk_salary  from (
        select d.*,e.price,d.real_make_num * ifnull(e.price,0) wk_salary,DATE_FORMAT(d.scan_time,'%Y%m%d') scan_day ,DATE_FORMAT(d.scan_time,'%Y%m') scan_month, DATE_FORMAT(d.scan_time,'%Y') scan_year from (
        select b.*,a.pro_id ,a.size_id,a.size_name,a.color_id,a.color_name  from  erp_pro_make_batch a,erp_pro_batch_exe b where a.id =b.batch_id and a.emp_id=#{batchExeDTO.empId}
        <if test="scanBy != null "> and b.scan_by = #{batchExeDTO.scanBy}</if>                                                                                                                                                                                                                                                                                                               ) d left join erp_pro_price e on d.pro_id=e.pro_id and d.size_id=e.size_id  and d.step_id=e.step_id
        ) m left join sys_user n on m.scan_by=n.user_id left join erp_pro_process k on m.step_id =k.id
        <where>
            <if test="batchExeDTO.scanDay != null "> and m.scan_day = #{batchExeDTO.scanDay}</if>
            <if test="batchExeDTO.scanMonth != null "> and m.scan_month = #{batchExeDTO.scanMonth}</if>
            <if test="batchExeDTO.scanYear != null "> and m.scan_year = #{batchExeDTO.scanYear}</if>
            <if test="batchExeDTO.userName != null "> and n.user_name like concat('%',#{batchExeDTO.userName},'%')</if>
            <if test="batchExeDTO.startDay != null and  batchExeDTO.endDay != null "> and (m.scan_day &gt;= #{batchExeDTO.startDay} and m.scan_day &lt;= #{batchExeDTO.endDay})</if>
        </where>
        group by m.scan_day,n.user_name,m.scan_by
        order by  m.scan_day desc
    </select>

</mapper>
