<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cfg.base.mapper.ErpProcMapper">
    
    <resultMap type="ErpProc" id="ErpProcResult">
        <result property="id" column="Id"/>
        <result property="stepcode" column="stepCode"/>
        <result property="stepname" column="stepName"/>
        <result property="stepprice" column="stepPrice"/>
        <result property="empcode" column="empCode"/>
        <result property="seqNo" column="seq_no"/>
        <result property="status" column="status"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="dr" column="dr"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time" />
    </resultMap>

    <sql id="selectErpProcVo">
        select Id, stepCode, stepName, stepPrice, empCode, seq_no, status, create_by, create_time, update_by, update_time, dr   from erp_proc
    </sql>

    <select id="selectByEntity" parameterType="ErpProc" resultMap="ErpProcResult">
        <include refid="selectErpProcVo"/>
        <where>  
            <if test="stepcode != null  and stepcode != ''"> and stepCode = #{stepcode}</if>
            <if test="stepname != null  and stepname != ''"> and stepName like concat('%', #{stepname}, '%')</if>
            <if test="stepprice != null "> and stepPrice = #{stepprice}</if>
            <if test="empcode != null  and empcode != ''"> and empCode = #{empcode}</if>
            <if test="seqNo != null "> and seq_no = #{seqNo}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="dr != null "> and dr = #{dr}</if>
        </where>
    </select>

    <update id="updateDelFlagByIds">
        update erp_proc set del_flag=1
        <where>
            id in <foreach collection="ids" open="(" item="it" close=")" separator=",">#{it}</foreach>
        </where>
    </update>
</mapper>
