<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cfg.base.mapper.ErpProMapper">
    
    <resultMap type="com.cfg.base.domain.ErpPro" id="ErpProResult">
        <result property="proId" column="pro_id"/>
        <result property="proCode" column="pro_code"/>
        <result property="proName" column="pro_name"/>
        <result property="proDesc" column="pro_desc"/>
        <result property="proType" column="pro_type"/>
        <result property="proMemo" column="pro_memo"/>
        <result property="status" column="status"/>
        <result property="empId" column="emp_id"/>
        <result property="seqNo" column="seq_no"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="delFlag" column="del_flag"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time" />
    </resultMap>

    <sql id="selectErpProVo">
        select pro_id, pro_code, pro_name, pro_desc, pro_type, pro_memo, status, emp_id, seq_no, create_by, create_time, update_by, update_time, del_flag   from erp_pro
    </sql>

    <select id="selectByEntity" parameterType="com.cfg.base.domain.ErpPro" resultMap="ErpProResult">
        <include refid="selectErpProVo"/>
        <where>  
            <if test="proCode != null  and proCode != ''"> and pro_code = #{proCode}</if>
            <if test="proName != null  and proName != ''"> and pro_name like concat('%', #{proName}, '%')</if>
            <if test="proDesc != null  and proDesc != ''"> and pro_desc = #{proDesc}</if>
            <if test="proType != null  and proType != ''"> and pro_type = #{proType}</if>
            <if test="proMemo != null  and proMemo != ''"> and pro_memo = #{proMemo}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="empid != null "> and emp_id = #{empId}</if>
            <if test="seqNo != null "> and seq_no = #{seqNo}</if>
            <if test="delFlag != null "> and del_flag = #{delFlag}</if>
        </where>
    </select>

    <update id="updateDelFlagByIds">
        update erp_pro set del_flag=1
        <where>
            id in <foreach collection="ids" open="(" item="it" close=")" separator=",">#{it}</foreach>
        </where>
    </update>
</mapper>
